* {
    box-sizing: border-box;
  }
  
  html, body {
      margin: 20px;
      padding: 0;
    }
  
  body {
    background: rgb(53,15,73);
    background: linear-gradient(90deg, rgba(53,15,73,1) 0%, rgba(112,59,134,1) 50%, rgba(53,15,73,1) 100%);
    font-family: "Century Gothic", sans-serif;
  }
  
  h1 {
      text-align: center;
      color: rgb(238, 250, 255);
      border-radius: 5px;
      background: rgba(149, 71, 175, 0.805);
      background: linear-gradient(
      90deg,
      rgba(149, 71, 175, 0.805) 0%,
      rgba(191, 84, 194, 0.805) 50%,
      rgba(149, 71, 175, 0.805) 100%
    );
      border: 6px solid rgba(185, 179, 203, 0.08);
      box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
      padding: 20px;
      margin-bottom: 30px;
      margin-left: 30%;
      width: 40%;
      font-family: "Helvetica";
      animation-name: fadeIn;
      animation-duration: 3s;
    }
    
    .notification {
      max-width: 400px;
      margin: 0 auto;
      padding: 26px;
      border: 6px solid rgba(185, 179, 203, 0.08);
      border-radius: 100px;
      box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 10%;
      animation: breathing-color 3s ease-in-out infinite;
      }
  
      @keyframes breathing-color {
        0% {
          background-color: rgb(68, 25, 79);
        }
        50% {
          background-color: rgb(99, 61, 124);
        }
        100% {
          background-color: rgb(68, 25, 79);
        }
      }
      
  
  .container {
    max-width: 700px;
    margin: 25px auto;
    padding: 26px;
    background: rgba(149, 71, 175, 0.805);
    background: linear-gradient(
      90deg,
      rgba(149, 71, 175, 0.805) 0%,
      rgba(191, 84, 194, 0.805) 50%,
      rgba(149, 71, 175, 0.805) 100%
    );
    border: 6px solid rgba(185, 179, 203, 0.08);
    border-radius: 10px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    animation-name: fadeIn;
    animation-duration: 2.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .h1 img {
    width: 10px;
    height: 10px;
    margin-right: 20px;
    animation-name: bounceIn;
    animation-duration: 2s;
  }
  
  @keyframes bounceIn {
    from {
      transform: scale(0);
    }
    60% {
      transform: scale(1.2);
    }
    80% {
      transform: scale(0.9);
    }
    to {
      transform: scale(1);
    }
  }
  
  .container form {
    width: 50%;
  }
  
  .Informer{
    font-size: larger;
  }
  
  .container input[type=text],
  .container input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid rgb(140, 112, 216);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .container button[type=submit] {
    background-color: #4a37aa;
    color: #fff;
    padding: 12px 20px;
    border: 4px solid rgb(26, 12, 58);
    margin-left: 12px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .container button[type=submit]:hover {
    background-color: #7467c1;
  }
  